$thetransition: all .5s cubic-bezier(1,.25,0,.25) 0s;

*{
    margin: 0;
    padding: 0;
    font-family: 'Monteserrat', sans-serif;

}
body{
    width: 100%;
}


.navbar{
    height: 100vh;
    width: 100%;
}

.full-header {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    z-index: 1;
    .photo > img{
        width: 30%;
    }
    .icon > img {
        display: none;
    }
    .header_title{
        margin: 2%;
    }
    nav {
        width: 50%;
        a{
            text-decoration: none;
            position: relative;
            &:before {
            content: "";
            position: absolute;
            width: 75%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: blue;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: $thetransition;
            transition: $thetransition;
            }
            &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            }
            &::after{
                margin: 0 1%;
                content: '/';
                color: grey;
            }
            &:last-child::after{
                content: '';
            }
        }
        
    }
    transition-duration: 1s;
}

.small-header {
    margin-left: -1%;
    top: 0;
    position: fixed;
    height: 150px;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    z-index: 1;
    .header_title{
        position: fixed;
        display: inline-block;
        margin: 40px 0 0 120px;
    }
    nav{
        // display:inline-block;
        text-align: right;
        margin: 95px 3% 0px 3%;
        float: right;
        width: 30%;
        vertical-align: bottom;
        a{
            text-decoration: none;
            position: relative;
            &:before {
            content: "";
            position: absolute;
            width: 62%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: blue;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: $thetransition;
            transition: $thetransition;
            }
            &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            }
            &::after{
                margin: 0 3%;
                content: '/';
                color: grey;
            }
            &:last-child::after{
                content: '';
            }
        }
    }
    .photo img{
        display: none;
    }
    .icon{
        display: inline-block;
        img {
            width: 79px;
            height: 100px;
            display: inline-block;
            margin: 15px 0px 0px 420px;
            position: fixed;
        }
    }
    transition-duration: .5s;
}
.main_container{
    width: 80%;
    margin: 0 auto;
}
.proj {
    margin: 2%;
}

.project {
    width: 100%;
    margin: 5% 0;
    min-height: 350px;
    .picture_container{
        width: 200px;
        margin: 5% 4%;
        display: inline-block;
        vertical-align: top;
        img{
            margin: 1%;
        }
    }
    .project_info{
        width: 60%;
        margin: 5% 0%;
        display: inline-block;
        h5 > span{
            margin-right: 5%;
        }
        h5 > a {
            margin-left: 5%;
        }
    }
    .tech_container{
        margin-top: 0;
        p{
            margin: 0;
            font-weight: bold;
        }
        img {
            margin: 0 1%;
            height: 50px;
            width: 50px;
            display: inline-block;
        }

    }
}

.about_me{
    margin-top: 5%;
    .name_container{
        width: 25%;
        display: inline-block;
        vertical-align: top;
        margin: 5% 2%;

        p{ 
            font-size: 3em;
            text-align: right;
        }
    }
    .basic_info {
        margin: 1% 2%;
        width: 65%;
        display: inline-block;
        p{
            vertical-align: middle;
            margin: 2%;
        }
    }
}
.video_container{
    margin-left: 3%;
    width: 100%;
    .video{
        width: 45%;
        margin: 2% auto;
    }
}
.video_center{
    width: 100%;
    text-align: center;
    .video{
        width: 45%;
        margin: 2% auto;
    }
}


#chooseVid, #lineupVid{
    display: none;
}

#lean_right {
    margin: 5% 4%;
}

footer {
    height: 200px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .footer{
        margin: 1% 2%;
        a{
            margin-right: 1%;
        }
    }
}

@media screen and (max-width: 1024px){
    .middle{
        margin: 5% 2% !important;
    }
}

@media screen and (max_width: 480px){
    .construction {
        margin-top: 3% !important;
    }
}