
<div class="main">

  <div *ngIf="!mobile" class="wheel_container">
    <ngx-wheel
        stroke="black"
        [strokeWidth]="1"
        [spinOnce]='false'
        fontColor="black"
        arrowColor="black"
        [spinRange]="[10,15]"
        centerText="Click to spin!"
        [prizeToWin]="winner.value"
        [prize_descriptions]="wheelOptions"
        [colors]="['#3EB44A','#33A4A6', '#21469D','#ff5e59', '#6652A2','#C61C8E', '#ED1F23','#F25D22', '#F9DD00', '#A6CE39']"
        (afterSpin)="yelpQuery()"
        >
    </ngx-wheel>
  </div>

  <div *ngIf="mobile" class="wheel_container_mobile">
    <ngx-mobile-wheel
      stroke="black"
      [strokeWidth]="1"
      [spinOnce]='false'
      fontColor="black"
      arrowColor="black"
      [spinRange]="[10,15]"
      centerText="Click to spin!"
      [prizeToWin]="winner.value"
      [prize_descriptions]="wheelOptions"
      [colors]="['#3EB44A','#33A4A6', '#21469D','#ff5e59', '#6652A2','#C61C8E', '#ED1F23','#F25D22', '#F9DD00', '#A6CE39']"
      (afterSpin)="yelpQuery()"
      >
    </ngx-mobile-wheel>
  </div>

  <div class="spin_button fade-in mt-4">
    <button mat-stroked-button color="warn" class="shadow" [routerLink]="['/']">Input new items</button>
  </div>

<span *ngIf="businesses">
  <div class="modal fade" id="searchResults" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="winnerVal">Search results for "{{winner.value | titlecase}}"</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let business of businesses" class="shop_container shadow p-3 mb-5 bg-white rounded ">
            <img class="d-inline-block img-thumbnail" src="{{business.image_url}}">
            <div class="info_container d-inline-block">
              <strong><a href="{{business.url}}"><h5>{{business.name}}</h5></a></strong>
              <p>Address: {{business.location.address1}}, {{business.location.city}}</p>
              <p>Phone: {{business.display_phone}}</p>
              <div class="ratings">
                <img class="d-inline-block my-1 p-3" src="assets/yelp/{{business.rating}}_stars.png">
                <a href="https://www.yelp.com"><img class="w-25 d-inline-block align-top" src="assets/yelp/logo.png"></a>
                <p class="d-block ">Based on {{business.review_count}} Reviews</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reSpin()">Spin Again</button>
        </div>
      </div>
    </div>
  </div>
</span>
