
.main{
  margin-top: 140px;
}

.shop_container{
  width: 100%;
  padding: 5px;
}

.modal-title{
  width: 50%;
}



.info_container{
  margin: 2%;
}

.yelpLogo{
  width: 40%;
}

.spin_button{
  text-align: center;
  background-color:white;
  width: 40%;
  margin: 2% auto;
  border-radius: 10px;
}
.spin_button button{
  width: 100%;
  border: none;
}

.info_container > a, p {
  margin: 0;
}
