
.main{
  margin-top: 140px;
}

.shop_container{
  width: 100%;
  padding: 5px;
}

.modal-title{
  width: 50%;
}

// .shop_container:after{
//   content:"__________________";
//   text-align: center;
//   color:grey;
// }
// .businessImg{
//   width: 100px;
//   height: 100px;
//   display: inline-block;
//   vertical-align: middle;
// }

.info_container{
  // width:
}

.yelpLogo{
  width: 40%;
}
