


<div class="form_container">
  <div *ngIf="searchList.length > 0" class="list_container">
      <div *ngFor="let item of searchList" (click)="removeItem(item)" class="list_item shadow options-fade-in">
        <p class="item_val">{{item.value}}</p>
        <p class="hover_msg">remove</p>
      </div>

  </div>

  <div *ngIf="searchList.length < 10" class="input_container shadow fade-in">
  <ng-flash-message></ng-flash-message>
    <h5>Enter up to 10 choices</h5>
    <div class="options_container">
      <mat-form-field>
          <mat-label>Enter Search Values</mat-label>
          <input type="text" matNativeControl [(ngModel)]="searchInput" (keyup.enter)="addToQuery()">
      </mat-form-field>
    </div>
  </div>
  <div class="spin_button fade-in">
    <button mat-stroked-button color="warn" class="shadow" (click)="sendToWheel()">Spin!</button>
  </div>

</div>
