.form_container{
  margin-top: 170px;
}

.list_container{
  width: 100%;
  margin: 0 0%;
  text-align: center;
}

.item_val {
  display:block;
  justify-content: center;
  margin: 2%;
  padding: 10px;
}

.list_item{
  background-color: #fff;
  height: 50px;
  color: black;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  margin: 1% 1%;
  border-radius: 10px;
  overflow: hidden;
}
.hover_msg{
  display:none;
  justify-content: center;
  margin: 2%;
  padding: 10px;
}

.list_item:hover{
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  color: white;
}

.list_item:hover .item_val{
  display:none;
}

.list_item:hover .hover_msg{
  display: block;

}

.options-fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


// .hover_msg {
//   visibility:hidden;
// }
//
// .item_val:hover{
//   visibility: hidden;
// }
// .hover_msg:hover{
//   width: 100%;
//   height: 100%;
//   visibility: visible;
//   text-align: center;
//   padding: 5px;
//   position: absolute;
//   background-color: rgba(0,0,0, 0.6);
//   z-index: 1;
// }

.input_container{
  margin: 3% auto;
  width: 30%;
  padding: 20px;
  border: 1px solid #fff;
  border-radius:10px;
  background-color: #fff;
  text-align: center;
}

.spin_button{
  text-align: center;
  background-color:white;
  width: 30%;
  margin: 2% auto;
  border-radius: 10px;
}
.spin_button button{
  width: 100%;
  border: none;
}
::ng-deep.mat-form-field-ripple,  ::ng-deep.mat-form-field-underline{ /*change color of underline when focused*/ background-color: #e74c3c !important;
 }

::ng-deep.mat-form-field-label{
  color: #e74c3c !important;
}

.help-tip{
    float:right;
    text-align: center;
    background-color: #e74c3c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

button:focus {outline:none;}


/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}