


<div class="form_container">
  <ng-flash-message></ng-flash-message>
  <h5>The limit is 10</h5>
  <div *ngIf="searchList.length < 10;" class="options_container">
    <div class="eachOption d-inline-block w-25 mt-auto mb-auto">
      <mat-form-field>
        <mat-label>Search by... </mat-label>
          <select matNativeControl required (change)="setSearchType($event)">
              <option></option>
              <option value="restaurantName">Restaurant Name</option>
              <option value="foodType">Food Type</option>
          </select>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Enter Search Values</mat-label>
          <input type="text" matNativeControl [(ngModel)]="searchQuery.value" (keyup.enter)="addToQuery()">
      </mat-form-field>
    </div>
    <br><button mat-stroked-button color="accent" (click)="sendToWheel()">Choose</button>
  </div>
</div>
