.form_container{
  margin-top: 140px;
}

.list_container{
  width: 100%;
  margin: 0 0%;
  text-align: center;
}

.list_item{
  background-color: #fff;
  color: black;
  width: 17%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: 1% 1%;
  border-radius: 10px;
}


.options-fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.list_item p {
  // text-align: center;
  justify-content: center;
  margin: 2%;
  padding: 10px;
}

.input_container{
  margin: 3% auto;
  width: 30%;
  padding: 20px;
  border: 1px solid #fff;
  border-radius:10px;
  background-color: #fff;
  text-align: center;
}

.spin_button{
  text-align: center;
  background-color:white;
  width: 30%;
  margin: 2% auto;
  border-radius: 10px;
}
.spin_button button{
  width: 100%;
  border: none;
}
::ng-deep.mat-form-field-ripple,  ::ng-deep.mat-form-field-underline{ /*change color of underline when focused*/ background-color: #e74c3c !important;
 }

::ng-deep.mat-form-field-label{
  color: #e74c3c !important;
}
