nav{
  height: 55px;
  top: 0;
  overflow: auto;
  width: 100%;
}

.navbar-brand-centered {
    position: absolute;
    left: 47%;
    display: block;
    text-align: center;
    background-color: transparent;
}
